body{
    background-color: rgb(224, 161, 196);
}
.spinner{
      position: fixed;
    width: 100%;
    height:100vh;
    background-color: rgba(255, 255, 255, .7);
    left:0;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-header h3{
    height: 40px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.highlight-card{
    border: 3px solid green !important;
    box-shadow: 0 0 15px rgba(0,128,0,0.5);
    transition: all .5s ease;
}




.card{
    background-color: rgb(170, 131, 206);
    border-radius: 20px;
    overflow: hidden;
    transition: all .4s ease;
}

.card-header, .card-footer{
    background-color: aliceblue;

}
body{
    background-color:rgb(96, 33, 158);
}
.card:is(:hover, :active, :focus  ){
    transform: scale(1.04);

}


